/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #153448;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3C5B6F;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
    cursor: default;
}

h2.titulo span{
    color: #948979;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #153448;
    transform: scale(1.05);
}

/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #aaaaaa;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do menu mobile */
.btn-abrir-menu i{
    color: #DFD0B8;
    font-size: 50px;
}

.menu-mobile{
    background-color: #948979;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #153448;
    font-size: 35px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #DFD0B8;
    color: #948979;
}

.overlay-menu{
    background-color: #000000c4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* Estilo top do site */
section.top-do-site{
    padding: 40px 4%;
}

section.top-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    cursor: default;
}

.top-do-site .txt-top-site h1 span{
    color: #948979;
}

.top-do-site .txt-top-site p{
    color: #fff;
    margin: 40px 0px;
    cursor: default;
}

.top-do-site .img-top-site img{
    position: relative;
    animation: fly 2s ease-in-out infinite alternate;
}

@keyframes fly{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo das especialidades */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #b6b1b159;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #DFD0B8;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    cursor: pointer;
}

.especialidades .especialidades-box p{
    cursor: pointer;
    text-align: justify;
}

/* Estilo do sobre */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    cursor: default;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #948979;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #DFD0B8;
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

img{
    border-radius: 30px;
}

/* Estilo do portfólio */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #DFD0B8;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2b2abd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo do form de contato */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #291f1f50;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 150px;
    background-color: #3C5B6F;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    transition: .2s;
}

/* Estilo do rodapé */
footer{
    padding: 20px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a;
}

footer .flex{
    align-items: center;
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #DFD0B8;
}

footer .line-footer p i{
    color: #DFD0B8;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}

/* Responsividade */
@media screen and (max-width: 1020px){
    /* Classes gerais */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .top-do-site .flex{
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* Top do site */
    section.top-do-site .flex{
        gap: 40px;
    }

    section.top-do-site{
        padding: 0 8%;
    }

    .top-do-site h1{
        font-size: 30px;
    }

    /* Estilo das especialidades */
    section.especialidades{
        padding: 40px 8%;
    }

    /* Estilo do sobre */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    /* Portfolio */
    section.portfolio{
        padding: 80px 8%;
    }
    
    .img-port{
        width: 100%;
    }

    section.portfolio .flex{
        gap: 40px;
    }

    /* Rodapé */
    footer .line-footer{
        text-align: center;
    }
}

/* Tornar a list apenas quando for mobile */
@media screen and (min-width: 1020px) {
    .btn-abrir-menu, .menu-mobile, .overlay-menu{
        display: none;
    }
}